* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
    font-family: "Red Hat Display", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.hero-img {
    border-radius: 1rem 1rem 0 0;
}

.order-card {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* summary section */

.summary {
    text-align: center;
}

.summary > h1 {
    color: var(--dark-blue);
}

.summary > p{
    color: var(--desaturated-blue);
    margin: 1rem 1rem 1rem 1rem;
}